@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
 
    font-family: 'Inter', sans-serif;    
  }


  input[type='radio']#yellow{
    -moz-appearance: initial !important;
  }

  /* yellow bullet */
  input[type='radio']#yellow{
    -moz-appearance: initial !important;
  }

  input[type='radio']#yellow:after {
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    left: -3px;
    border-radius: 30px;
    background-color: yellow;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']#yellow:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: yellow;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}


  /* red bullet */
  input[type='radio']#red{
    -moz-appearance: initial !important;
  }

  input[type='radio']#red:after {
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    left: -3px;
    border-radius: 30px;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']#red:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}


  /* pink bullet */
  input[type='radio']#pink{
    -moz-appearance: initial !important;
  }

  input[type='radio']#pink:after {
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    left: -3px;
    border-radius: 30px;
    background-color: pink;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']#pink:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: pink;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}

  /* blue bullet */
  input[type='radio']#blue{
    -moz-appearance: initial !important;
  }

  input[type='radio']#blue:after {
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    left: -3px;
    border-radius: 30px;
    background-color: blue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']#blue:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: blue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}


  /* green bullet */
  input[type='radio']#green{
    -moz-appearance: initial !important;
  }

  input[type='radio']#green:after {
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    left: -3px;
    border-radius: 30px;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']#green:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}


 /* green bullet */
 input[type='radio']#brown{
  -moz-appearance: initial !important;
}

 input[type='radio']#brown:after {
  width: 30px;
  height: 30px;
  position: relative;
  top: -4px;
  left: -3px;
  border-radius: 30px;
  background-color: brown;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


input[type='radio']#brown:checked:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: brown;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

 /* green bullet */
 input[type='radio']#purple{
  -moz-appearance: initial !important;
}
 input[type='radio']#purple:after {
  width: 30px;
  height: 30px;
  position: relative;
  top: -4px;
  left: -3px;
  border-radius: 30px;
  background-color: purple;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']#purple:checked:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: purple;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}